{% load static %}
<link rel="stylesheet" href="{% static 'diary/detail.css' %}">

<div class="task-detail">
    <h1>{{ task.title }}</h1>
    <p><strong>Описание:</strong> {{ task.description }}</p>
    <p><strong>Статус:</strong> {{ task.status }}</p>
    <p><strong>Дата выполнения:</strong>
      {% if task.due_date %}
        {{ task.due_date|date:"d.m.Y" }}
      {% else %}
        Не указано
      {% endif %}
    </p>
    <a href="{% url 'task_list' %}" class="button back-button">Назад к списку</a>
</div>




